---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
        <h4>If you're in a hurry (TL;DR):</h4>
        <p><b>Research Interests:</b> Learning from Demonstrations, Inverse Reinforcement Learning, Reinforcement Learning, Algorithmic Fairness, Causal Inference, Bayesian optimization, Gaussian process, Deep Neural Networks. 
        <p><b>Previously: </b> 8+ years of industry experience - 
          6.5 years in the Process Automation section at ABB Private Limited. Served as the Section Manager of a product specialists team overseeing customers in South-East Asia, Australia and New Zealand. 
          Conducted training sessions globally as an <em>Expert Trainer</em> for ABB's control systems. 
          Conducted ~2 years of AI research at the SMU-Fujitsu UNiCEN lab at Singapore Management University (SMU) as a Research Engineer.
        <h4>Otherwise:</h4>
          <div class="cv">
              {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                  <div>
                  {% if entry.type == "list" %}
                    {% include cv/list.html %}
                  {% elsif entry.type == "map" %}
                    {% include cv/map.html %}
                  {% elsif entry.type == "nested_list" %}
                    {% include cv/nested_list.html %}
                  {% elsif entry.type == "time_table" %}
                   {% include cv/time_table.html %}
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              </div>
          </article>

        </div>
